h1{
	font-family: 'Comfortaa', cursive;
	color: black;
	background: white;
-
}
body{
	background: url(fon.jpg);
}
p{
	color: black;
	font-size: 20px;
	font-family: 'Comfortaa', cursive;
	background: white;
}
a{
	text-decoration: none;
	text-align: center;
	background: orange;
	font-size: 35px;
}
div{
	background: orange;
	border: 15px solid lightblue;
	border-radius: 10px;
	width: 50%;
}

nav{
	background: orange;
	border: 15px solid cyan;
	border-radius: 10px;
}

